body {
    background-color: #530518;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

.slogan {
    text-align: center;
    color: white;
}

.card {
    text-align: center;
    color: white;
}

.subt {
    color: rgb(73, 72, 72);
}

.imag {
    height: auto;
    width: 350px;
    border-radius: 10px;
}

.preço {
    color: rgb(66, 65, 65);
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.tipo1 {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 5px;
    height: auto;
    width: 400px;
    text-align: center;
    margin: 20px;
}

h3 {
    font-weight: bolder;
    color: #4b0315;
}

div {
    display: inline-block;
    margin-inline: -5px;
}

#entrada {
    float: left;
}

#massa {
    float: right;
}

#sopa {
    float: left;
}

#sobremesa {
    float: right;
}

#beb {
    float: left;
}

#infos {
    float: right;
}

#local {
    float: right;
}

#pedir {
    float: right;
}

#cupom {
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

#geral {
    align-items: center;
}